altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
idna==3.10
macholib==1.16.3
maidenhead==1.7.0
numpy==2.2.1
packaging==24.2
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
Pympler==1.1
pyperclip==1.9.0
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.8.0
PyQt6_SwitchControl==1.0.4.post1
requests==2.32.3
setuptools==75.6.0
shapely==2.0.6
sip==6.8.6
termcolor==2.5.0
urllib3==2.2.3
